<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PL.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ProductLayer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7B214F5183F842000C38635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B21516183F842000C38635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B21720183F8A3800C38635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B2172D183F8A3800C38635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B4424E183F92B800E8A170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B4426A183F92B800E8A170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
